*,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border;
}

.layout-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.layout-container .top-pane {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  border-bottom: 0.4px solid #dbd4ea;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 3;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.layout-container .top-pane img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  /* margin-left: 1rem; */
}

.layout-container .top-pane .search {
  width: 50%;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
}

.layout-container .top-pane .search input.search-input {
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  padding: 0.7rem 1rem;
  border-radius: 5px;
}

.layout-container .top-pane .search-icon {
  width: 23px;
  height: 23px;
  color: #1f1730;
  cursor: pointer;
  margin-left: 10px;
}

.layout-container .left-pane-wrapper {
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}

.layout-container .left-pane-wrapper .left-pane {
  width: 200px;
  height: 100vh;
  border-right: 0.4px solid #dbd4ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 60px;
}

.layout-container .left-pane-wrapper .left-pane form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-container .left-pane-wrapper .left-pane .time-selector-label {
  font-size: 0.8rem;
  padding: 0 1rem;
  margin: 2rem 0;
  text-transform: capitalize;
}

.layout-container .left-pane-wrapper .left-pane .time-input {
  outline: none;
  border: 0.5px solid #414141;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.layout-container .left-pane-wrapper .left-pane p {
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
  text-transform: capitalize;
}

.layout-container .left-pane-wrapper .main-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  overflow-x: scroll;
}

.layout-container .left-pane-wrapper .main-content table {
  width: 100%;
}

.layout-container .left-pane-wrapper .main-content table {
  width: 100%;
}

.layout-container .left-pane-wrapper .main-content table thead tr {
  display: flex;
}

.layout-container .left-pane-wrapper .main-content table tr {
  display: flex;
}

.layout-container .left-pane-wrapper .main-content table th {
  padding: 1rem 2rem;
  font-size: 13px;
  text-align: left;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.layout-container .left-pane-wrapper .main-content table th img {
  width: 25px;
  height: 25px;
  margin: 0 1rem;
}

.layout-container .left-pane-wrapper .main-content table tbody tr {
  width: 100%;
  border-bottom: 0.6px solid #b7a6dc;
}

.layout-container .left-pane-wrapper .main-content table tbody tr td {
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 13px;
  text-align: left;
}

.skeleton-header-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.skeleton-header-container .header {
  width: auto;
  display: flex;
  align-items: center;
}

.skeleton-header-container .header .skeleton-header {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-header-container .header .skeleton-header-round {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 50%;
}

.skeleton-header-container .header .skeleton-header::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    )
    lightgray;
  animation: shimmer 2s infinite;
  content: "";
}

.skeleton-container {
  width: 500px;
  height: auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-template-rows: 100px;
  gap: 1rem;
  position: relative;
}

.skeleton-container .skeleton {
  display: inline-block;
  height: 100px;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-container .skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    )
    lightgray;
  animation: shimmer 2s infinite;
  content: "";
}

.badge {
  max-width: 100px;
  text-align: center;
  text-transform: capitalize;
  padding: 0.5rem 0.7rem;
  background-color: #8770b8;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}

.logout-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-container .logout-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logout-container span {
  font-size: 13px;
  margin: 0 0.4rem;
  cursor: pointer;
}

.arrow-down {
  margin: 1rem 0;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .layout-container .left-pane-wrapper .left-pane {
    display: none;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
