.docs {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
}

.docs p {
  margin: 0;
  width: auto;
  font-size: 14px;
}

.docs span {
  font-weight: 700;
}

.docs button {
  width: 120px;
}
